


body{
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

    background-color:RGB(23, 23, 21);
    
    
    
  
  
  
  }


  

  h1{

    color:white;
    font-family: 'Rubik Dirt', cursive;
  }
h5{
  color: bisque;
  
}
 




  hr{
    border: dotted #EAF6F6 6px;
    width: 5%;
    border-bottom: none;
    margin-top: 20px;
    
  }
.Firstcontain{
  position: relative;
  

    margin-left: auto;
    width: 100%;
    
    text-align: center;

    font-size: 2rem;

    height: 350px;

    
    
}



.about{float: right;
  position: absolute;


    width: 30%;
  

    


}

.headder{
  

    height: 600px;

    background-image:url(backg.jpg);


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.Middlecontainer{
  position: relative;

 
 

margin: 200px auto 100px auto;

    

    
width:100%;
height: auto;

    
    
}
.profile{


    margin-top: 20px auto 20px auto;
  

    
    
    width: 20%;
    border-radius: 100%;

    

    

    
}

.mydetail{
margin-top: 110px;
  

  
  

  


    height: auto;
    

  

  
}

.mm{


  margin : 20px auto 50px auto;
}

.degree{

  margin-top: 20px auto 20px auto;
  

  font-size: 1.3rem;

  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
    
    margin-left: auto;

    width: 100%;
    height: auto;
}


.myskills{

  margin-top: 20px auto 20px auto;
  

  position: relative;

  height: 200px;

  
}

.skills1{
  margin: 10px auto 10px auto;
  position: relative;
  height: auto;

  


}

.skillh{

  color: #66BFBF;
  
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
  

    width: 100%;
    margin-top: 100px auto auto auto;
    
}


.skill1{
  margin: 100px auto 100px auto;
    width: 100%;
    font-size: 1.3rem;

    height: 800px;
}






.btn {
    background: #11CCD4;
    background-image: -webkit-linear-gradient(top, #11CCD4, #11999A);
    background-image: -moz-linear-gradient(top, #11CCD4, #11999A);
    background-image: -ms-linear-gradient(top, #11CCD4, #11999A);
    background-image: -o-linear-gradient(top, #11CCD4, #11999A);
    background-image: linear-gradient(to bottom, #11CCD4, #11999A);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2b4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2b4ad);
    text-decoration: none;
  }



.copyright{

    
    padding: 10px;
    color: #EAF6F6;
    font-size: 0.75rem;
    
  }

  .bottom-container{
    height: auto;
    padding: 50px;
    background-color:rgb(140, 129, 129);;
  
    margin: 100px auto 100px auto;
  
  }


.conactmsg{
    width: 40%;
    margin: 40px auto 60px ;
  
  }


  a.hover{
    color: #EAF6F6;
  }


h2{
    color: #66BFBF;
  
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
  
  }



  .bike{

   margin-top: 15px auto 10px auto;

    padding: 10px;
    border-radius: 100%;
    float: left;
    width: 20%
  
  }
  .photog{

    margin-top: 15px auto 10px auto;

   
    padding: 10px;
    border-radius: 100%;
    float: right;
    width: 20%
  
  }


  .middle-container2{

  
  

    

    position: relative;
    margin: 100px auto 150px auto;

    width: 100%;


    height: auto;

    
  }


  .skill-row1{


    


    position: relative;

    height: auto;

    width: 70%;
    margin: 100px auto 300px auto;
    text-align: left;
    line-height: 2;
  
  }





.head1{

  text-align: right;


   font-size: 1.5rem;

    height: 100px;
    width: 100%;
  
      
  }
.home{

  

  margin: auto 50px auto 50px;

  height: auto;


  

 

 
  text-decoration: none;

  color:white;
}

.home1{

  

  
  
  color: white;

  text-decoration: none;
  
  
 
}


.name{

  margin-top: 0PX;;
}


.remain{

  height: 5000px;
}






.p1{


  margin: 10px auto 10px auto;


  position: relative;

  width: 60%;
  float: left;

  height: auto;
}

h3{
  height: 14px;
}




.skill-row{


  height: auto;

  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.skill-row12{
  position: relative;

  height: auto;

  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.skill-row121{
  height: auto;
  position: relative;

  width: 60%;
  margin: 100px auto 100px auto;
  text-align: right;


}

.codeimg{
  
  margin-right: 20px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  width: 20%

}


.skills{
  margin: 100px auto 100px auto;
  

  height: auto;
}



.contact-me{

  margin: 200px auto 200px auto;

  height: auto;


}


.abc{
   

  height: 100px;
  width: 100%;
}